TO DO LIST
1. Определиться с глобальными настройками приложения [Реализация - Яныкин]
	1.1) Переделать интерфейс настроек
 	1.2) Сделать сохранение/загрузку из/в файл //{Shared}Preferences
	1.3) Один из пунктов - список имеющихся категорий. Необходимо сделать динамическое создание пунктов этого подменю

2. Определиться с внутриигровым меню

3. Разработать интерфейс главного меню и игрового сеанса
	3.1) Реализовать поддержку различных разрешений
	3.2) Реализовать поддержку поворота дисплея [Захаров]
	3.3) Предполагается, что внешний вид для телефона и планшета будут различаться
	3.4) Анимация и цвета

4. Базы данных [Захаров]
	4.1) Внедрить поддержку +
	4.2) Выборки слов (категории)
	4.3) Редактирование списка слов на аппарате
	4.4) Синхронизация с ПК

5. Дополнение
	5.1) Фиксированное или переменно число вариантов перевода
	5.2) Сохранение состояния при выходе из игры (на каком слове остановился)
	5.3) Локализация {в зависимости от языка аппарата}
	5.4) Уменьшить вероятность близости одного и того же слова в выборке


Настройки:
1. Направление перевода (глоб)
2. Выбор категорий (глоб)
3. Выбор языка (локализация) (глоб)
4. Отображение/сокрытие счетчика
5. Выбор директории, где находятся БД (?)
6. Сбор счетчика (контекстное)
7. Выбор количества вариантов ответа
8. Отображение/скрытие категорий (глоб и контекстное)





























